body {
    margin: 0;
    background-color: 1F2937;
    color: white;
    font-family: "Karla", sans-serif;
    padding: 150px 100px;

}
h1 {
    font-size: 40px;
    font-weight: bolder;
    margin: 0;

}

.hero {
    display: flex;
    flex-direction: column;
}

#green-heading {
    color: 4ADF86;

}

#message {
    color: whitesmoke;
    margin: 0;
    width: 372px;
    height: 28px;
    font-size: 21px;

}

#generate-el {
    padding: 10px 20px;
    background-color: 10B981;
    width: 191px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: medium;

}

.password-display {
    display: flex;
    flex-direction: row;
    color: 55F991;
    justify-content: space-between;
    width: 446px;
    gap: 5px;
    margin-top: 40px;

}

#choice-one {
    background-color: 273549;
    display: flex;
    width: 211px;
    height: 39px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
}

#choice-two {
    background-color: 273549;
    display: flex;
    width: 211px;
    height: 39px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.thick-line {
    height: 1px;
    background-color: 2F3E53;
    width: 446px;
    margin: 20px 0px;
}

#reset-el {
    border-radius: 6px;
    border: none;
    background-color: 273549;
    color: white;
    font-size: 10px;
    padding: 0 10px;

}